#chat-screen {
  background-color: slategray;
  height: 700vh;
}
#chat-screen::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: slategray;
  z-index: 1;
}
#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadein {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: fadein 0.3s linear;
}

.chat__timestamp {
  color: white;
  font-size: 11.5px;
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}

@keyframes fadeinMessage {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 22px;
  margin-right: 13px;
}
.message__author {
  display: block;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 10px;
}
.message__info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
  animation: fadeinMessage 0.3s linear;
}
.message__bubble {
  background-color: white;
  font-size: 17px;
  padding: 10px 12px;
  border-radius: 12px;
  border-top-left-radius: 0;
  margin-right: 5px;
}
.message__time {
  font-size: 10px;
  opacity: 0.7;
}

@keyframes fadeinMessageOwn {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
  margin-right: 0;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;

  animation: fadeinMessageOwn 0.3s linear;
}
.message__info--not-first .message__bubble {
  border-top-left-radius: 12px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 8px 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s ease-in-out;
}
.reply i {
  opacity: 0.5;
}
.reply__column input {
  padding-left: 15px;
}
.reply .reply__column:first-child {
  width: 5%;
}
.reply .reply__column:last-child {
  width: 95%;
  position: relative;
  /* margin-right: 10px; */
}
.reply input {
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  border: var(--border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 2px;
}
.reply__column:last-child > i {
  right: 43px;
  top: 9px;
  font-size: 18px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  font-weight: 600;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply input:focus {
  width: 98vw;
  transform: translateX(-5.8%) translateY(-50px);
}
.reply:focus-within {
  transform: translateY(50px);
}
