.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid #e2e2e2;
  z-index: 3;
}
.nav__list {
  display: flex;
  justify-content: space-around;
}
.nav__link {
  /* position: absolute는 가장 가까운 position: relative 부모를 기준으로 하기 때문에, 메세지에 배지(새로운 메세지 수)를 위해 position: relative를 link에 적는다. */
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 12.5px;
  bottom: 10px;
}
.nav__notification--dot {
  background-color: #ff6347;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 23.5px;
  bottom: 20px;
}
