#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  top: 0;

  background-color: var(--yellow);
  font-size: 23px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 530px) {
  #no-mobile {
    display: none;
  }
}
